<!--The content below is only a placeholder and can be replaced.-->


<p>Right-click on the items below to show the context menu:</p>
<mat-list>
  <mat-list-item *ngFor="let item of items" (contextmenu)="onContextMenu($event, item)">
    {{ item.name }}
    <div style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{item: item}">
    </div>
  </mat-list-item>
</mat-list>

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="secondMenu" [matMenuTriggerData]="{item: item}"
    (click)="onContextMenuAction1(item)">Action 1</button>
  <button mat-menu-item (click)="onContextMenuAction2(item)"
    *ngFor="let list of customMenu; let firstIndex = index">{{list.name}}</button>
  <button mat-menu-item (click)="onContextMenuAction2(item)">Action 2</button>
</mat-menu>

<mat-menu #secondMenu="matMenu">
  <button mat-menu-item (click)="onContextMenuAction1(item)">Action 1</button>
  <button mat-menu-item (click)="onContextMenuAction2(item)">Action 2</button>
  <button mat-menu-item (click)="onContextMenuAction2(item)">Action 2</button>
</mat-menu>


<router-outlet></router-outlet>